.yellow{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: relative;
    top: 20px;
    
    

    
    

}

.green{
    background-color:green;
    width: 100px;
    height: 100px;

    
    
}


div{


    display: inline-block;
    margin: 5px;

}


.h{
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    margin-left: 1200px;
    

  }




